//family
$family: 'Inter', sans-serif;

// primary colors
$main-blue: #155BD5;
$blue: #1c3ab6;
$main-bg: #FAFAFA;
$light-bg: #EFEFEF;
$border-color: #E0E0E0;
$white: #fff;

// text color
$title-c: #1D1D1D;
$text-color: #6D6D6D;

//secondary colors
$pink: #FF8686;
$bullet-bg: #9FBBEB;